@tailwind base;
@tailwind components;
/* Bounce animation */
.bounce-in {
    animation: bounceIn 0.5s forwards;
}
.bounce-out {
    animation: bounceOut 0.3s forwards;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounceOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
@tailwind utilities;
